extends globalMixins

block html
  doctype html
  html
    head
      title "base"
      //- General meta tags
      block headerGeneral
      //- Mixins to import
      block mixins
      //- Css to import
      block css
    //- TODO: deal with body props.
    body
      //- Conteudo
      block content

    //- JS imports, on end to load page fast
    block jsImports